/*

	New Buttons
	oliver pope 2014

*/

// colors

red = #F8002A
blue = #214880
green	= #35671A
black	= #000000
white = #FFFFFF
violet = #292655
pink = #F48361
sky-blue = #2BC2E8
transparent = rgba(255, 255, 255, 0)

// btn

.button 
	-webkit-appearance none
	text-decoration none
	border 0
	border-radius 2px
	border 2px solid
	display inline-block
	margin 1em 0
	font-weight bold
	transition .2s all

.no-margin
	margin 0 !important

// red button

.color-red
	background red
	border-color red
	color white
	&:hover 
		color red
		background transparent
		border-color red

// blue button

.color-blue
	background blue
	border-color blue
	color white
	&:hover 
		color blue
		background transparent
		border-color blue

// green button

.color-green
	background green
	border-color green
	color white
	&:hover 
		color green
		background transparent
		border-color green

// black button

.color-black
	background black
	border-color black
	color white
	&:hover 
		color black
		background transparent
		border-color black

// violet button

.color-violet
	background violet
	border-color violet
	color white
	&:hover 
		color violet
		background transparent
		border-color violet

// pink button

.color-pink
	background pink
	border-color pink
	color white
	&:hover 
		color pink
		background transparent
		border-color pink

// sky-blue button

.color-sky-blue
	background sky-blue
	border-color sky-blue
	color white
	&:hover 
		color sky-blue
		background transparent
		border-color sky-blue

// size

.size-s
	font-size .8em
	padding .4em 1.2em
.size-m
	font-size 1em
	padding .6em 1.4em
.size-l
	font-size 1.4em
	padding .5em 1em
.size-xl
	font-size 2em
	padding .8em 1.4em
